.knack-settings{
  .awesome-icons{
    padding-bottom: 30px !important;
  }
  .alert-primary{
    background-color: #2E6382;
    padding: 25px 25px;
    margin-top: 30px;
    *{
      color: #FFFFFF;
    }
  }
  .email-list{
    margin-bottom: 30px;
  }
  .download-file{
    float: left; margin-top: 10px; margin-bottom: 10px;
    display: none;
  }
  max-width: 1000px;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 400px;
  margin: 30px 0 0 2px;
  overflow: hidden;
  position: relative;
  .sidebar{
    width: 200px;
    box-sizing: border-box;
    border-right: 5px solid #0F1113;
    height: 700px;
    float: left;
    display: table;
    background: rgb(41,72,91); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(41,72,91,1) 0%, rgba(34,39,44,1) 300px); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(41,72,91,1) 0%,rgba(34,39,44,1) 300px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(41,72,91,1) 0%,rgba(34,39,44,1) 300px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29485b', endColorstr='#22272c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .logo{
      width: 100%; height: 150px;
      display: table;
      background-image: url(../images/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      position: relative;
      .version{
        display: table;
        position: absolute; right: 27px;
        top: 40px;
        background-color: rgba(0,0,0,0.6);
        color: #f0ecf7;
        font-size: 9px;
        padding: 3px 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .nav{
      width: 100%; display: table;
      box-sizing: border-box;
      ul{
        list-style: none;
        margin: 0; padding: 0;
        border-top: 1px solid #13161A;
        border-bottom: 1px solid #343C45;
        li{
          width: 100%; height: 45px; line-height: 42px;
          cursor: pointer;
          display: block;
          overflow: hidden;
          margin: 0;
          color: #98A4AF;
          font-size: 12px;
          font-weight: 500;
          box-sizing: border-box;
          padding: 0 0 0 30px;
          border-top: 1px solid #343C45;
          border-bottom: 1px solid #13161A;
          position:relative;
          z-index: 1;
          @include transition(.35s ease all);
          &:hover{
            background: #2E6382;
            box-shadow: 0 0 3px rgba(black, .5) inset;
          }
          &:hover{ line-height: 9em; }
          &:before{
            content: attr(data-text);
            color: #DEEFF5;
            position: absolute;
            top: -2.75em;
          }
          &.knack-active{
            background: #161A1D;
            box-shadow: 0 0 3px rgba(black, .5) inset;
            color: #FFF;
          }
        }
      }
    }
  }
  .options{
    width: 800px;
    float: left;
    label{
      font-weight: 700;
      font-size: 14px;
    }
    small{
      font-size: 12px;
    }
    .heading{
      width: 100%;
      background-color: #F3F3F3;
      border-bottom: 1px solid #DDDDDD;
      box-sizing: border-box;
      padding: 40px 30px 40px;
      height: 129px;
      text-transform: uppercase;
      .heading-sticky{
        position: fixed; left: 0; top: 32px; padding: 15px 30px 5px; background-color: #24343E; width: 100%; z-index: 9999;
        border-bottom: 2px solid #2E6382;
        *{
          color: #FFF !important;
        }
      }
      h1{
        font-size: 22px;
        font-weight: 700;
        color: #2E6382;
        margin: 0;
        padding: 0;
      }
      span{
        color: #98A4AD;
        font-size: 12px;
        text-transform: none;
      }
      .options-button{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        float: right;
      }
    }
    .loader{
      width: 100%; display: table; box-sizing: border-box;
      padding: 0 30px 40px;
    }
  }
  .sidebar,
  .options{
    box-sizing: border-box;
  }
  .animate-loader{
    position: absolute;
    width: 100%; height: 300px;
    background: rgba(19,22,26,0.9);
    z-index: 999;
    display: none;
  }
  .upload-media{
    margin-top: 10px;
    float: left;
  }
  .image-preview{
    width: 40px; height: 38px;
    background-color: #DDD; margin-left: 10px; display: table;
    margin-top: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    margin-bottom: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-muted{
    clear: left;
    margin-bottom: 5px;
  }
  .settings-header{
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #2E6382;
    text-transform: uppercase;
    position: relative;
    background-color: #D9E2E8;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
  }
  .settings-inner-header{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #2E6382;
    text-transform: uppercase;
    position: relative;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .wp-picker-container {
    display: block !important;
    width: 100% !important;
    .wp-picker-holder{
      position: absolute;
      z-index: 99;
    }
    .wp-color-result {
      float: left;
      height: auto;
      border: 2px solid #DDD;
      text-decoration: none;
      box-shadow: none !important;
    }
    .wp-picker-input-wrap{
      .wp-picker-clear{
        display: none !important;
      }
      display: table !important;
      .color-field{
        pointer-events: none !important;
        height: 26px;
        float: left;
        display: table !important;
      }
    }
  }
  .demo-install{
    width: 100%;
    height: 200px;
    background-color: #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-image: url(../images/knack-2.jpg);
    background-size: cover;
    background-position: center top;
    border: 1px solid #DDD;
    .inner{
      box-sizing: border-box;
      padding-left: 50px;
      padding-top: 55px;
      display: table;
      text-align: center;
      h1{
        font-weight: 300;
      }
    }
  }
}
.options-button{
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: table;
  padding: 10px 20px;
  background-color: #2E6382;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  &:hover{
    background-color: #1D3E52;
    color: #FFF;
    text-decoration: none;
  }
  &.no-save{
    opacity: 0.5;
  }
}
.save-row{
  padding-top: 10px;
}
.hide-element{
  display: none;
}
.row{
  &.demo-holder{
    margin-bottom: 30px;
    > div{
      cursor: pointer;
      background-color: #DDD;
      padding-top: 25%;
      display: table;
      border: 3px solid #FFF;
      box-sizing: border-box;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-position: center top;
      background-size: cover;
      span{
        display: table;
        width: 100%;
        position: absolute;
        left: 0;
        top: 80%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin:0 auto;
        text-align: center;
        color: #FFF;
      }
      &:before{
        @include transition(.2s ease all);
        display: table;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 0 solid #000;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+50,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      }
      &.active{
        &:before{
          border-color: forestgreen;
        }
        &:after{
          content:'✔';
          display: table;
          width: 30px;
          height: 30px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          position: absolute;
          right: 15px;
          top: 15px;
          background-color: forestgreen;
          color: #FFF;
          line-height: 30px;
          text-align: center;
        }
      }
      &:hover{
        &:before{
          border: 5px solid #000;
        }
      }
    }
  }
}
