.float{
  position: fixed;
  display: none;
  left: 0;
  bottom: 20px;
  background-color: orangered;
  padding: 20px;
  color: #FFF;
  z-index: 999999;
}
.vc_separator{
  margin-bottom: 0 !important;
}